<template>
	<div class="home">
		<img alt="Vue logo" src="../assets/logo.png">
		<HelloWorld msg="Welcome to Your Vue.js App"/>
	</div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import store from '@/store.js'
import router from '@/router.js'

export default {
	name: 'home',
	components: {
		HelloWorld
	},
	beforeRouteUpdate () {
		if (!store.state.token) {
			router.push('/login')
		}
	}
}
</script>
