<template>
	<div id="login">
		<div class="card hoverable">
			<div class="card-action right-align">
				<div class="input-field col s6">
					<input id="passphrase" type="password" class="validate">
					<label for="passphrase">Passphrase</label>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">
					Submit
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import store from '@/store.js'
//import router from '@/router.js'

export default {
	name: 'login',
	data() {
		return {
			auth: null
		}
	},
	methods: {
		authenticate() {
			store.state.token = this.auth // not really
			// needs to import HTTPS
		}
	}
}
</script>

<style scoped lang="scss">
#login {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.card-panel {
	max-width: 600px;
	width: 100vw;
}
</style>
